

/* loader */

.loader {
    position: absolute;
    min-width: 100%;
    min-height: 6000px;
    background: rgb(255, 161, 161);
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.box-lettres {
    position: absolute;
    top: 200px;
}
.lettre {
    color: #484848;
    font-size: 20px;
    letter-spacing: 15px;
  
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900;
    }
}



.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    display: none;
    transition:  opacity 1.4s ease-out;
}