* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  /*prend toute la largeur*/
{
    max-width: 100%;
    overflow-x: hidden;
    /* scrollbar-width: none; */
 }
/* hide scrollbar */
  ::-webkit-scrollbar {
    display: none;
} 

.navbar {
    position: fixed;
    top: 1%;
    right: 1%;
}

.navbar audio {
    opacity: .5;
    border-radius: 20%;
    width: 200px;
    

}


/* HEADER */

header{
    display: flex;
    flex-wrap: wrap;
   
    min-height: 100vh;
    min-width: 100vw;
    font-family: sacramento;
    margin-bottom: 10%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.836);
    background-color: #deb5de;
    background-image: linear-gradient(0deg, #deb5de 0%, #cce6e8 100%);

}

header h1{
    font-family: 'Bebas Neue', cursive;
    /* font-family: 'Akaya Telivigala', cursive; */
   
    font-size: 4rem;
    border: 20px solid rgba(0, 0, 0, 0.055);
    padding: 10px;
}

header h1 span{
    font-size: 2rem;
}

#branche {
    width: 50%;
}
.box-branche {
    width: 100%;
    
}
.box-title{
    margin-left: 60% ;
    
   
    
}
.portfolio-title {
    padding-right: 50%;
}


figure {
    width: 100%;
    position: absolute;
    padding: 290px 0 0 0;
    overflow: hidden;
    left: 0;
    bottom: 0;
}

.fig1 { /* Grosses particules */
    margin: -15px;
    background: url(./images/defile.png);
    animation: clouds_animation 50s linear infinite;
  }

  .fig2 { /* petites particules */
    background: url(./images/defile2.png);
    animation: clouds_animation 100s linear infinite;
  }



  @keyframes clouds_animation {
    0%  {background-position: 0 0;}

    100%  {background-position: 2000px 0;}
  }

/*BODY*/
body{
 
    max-width: 1920px;
    min-width: 300px;
    background-color: white;
    min-height: 100vh;
    /* cursor: none; */
}

.presentation{
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;

}




#branche2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40%;
    opacity: .8;
}


.main-container{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
}
.main-container p{
    padding:0 1%;
}
.main-container h1{
    font-family: 'Permanent Marker', cursive;
/* font-family: 'Bebas Neue'; */
/* font-family: 'Akaya Telivigala', cursive; */
}

/*partie je */
.container-presentation {
    
    width: 70%;
    margin: auto;

}

.container-presentation h1 {
    margin-bottom: 5%;
}

.container-presentation p {
    line-height: 2.1rem;
}

/*partie boulot*/
.container-works {
    min-height: 100vh;
   
    background-color: #deb5de;
background-image: linear-gradient(0deg, #deb5de 0%, #cce6e8 100%);


}

.container-works h1{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
}

.linkedin{
    position: absolute;
    top: 24%;
    right: 35%;
    width: 18%;
    height: 8%;
}

.gitlab{
    position: absolute;
    top: 48%;
    right: 35%;
    width: 18%;
    height: 12%;
}


/* gallery */
.gallery {
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 5%;
}

.img-container {
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
   
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease-out;
    cursor: pointer;
    transform: scale(1.2);

}

.img-container img:hover {
    transform: scale(1.3);
}

.modal {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25 ease-out;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.full-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open {
    transform: translate(-50%, -50%) scale(1);

}

.modal p {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-5%);

}


.pollen {
    position: absolute;
    top: 30%;
    left: 0;
    height: 90px;
    opacity: .7;
    
}


/* Section contactez moi + tige */
section.wait{
    position: relative;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.bg-clippy{
    position: absolute;
    bottom: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    box-shadow:inset  10px 10px 30px 50px #deb5de;
    clip-path: polygon(0 0%, 2% 96%, 100% 100%, 0% 100%);    
    width: 100%;
     z-index: -10;

}

.container-draw {
    position: relative;
    background-color: transparent;
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
}
.base {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 400px;
    height: 100px;
    background-color: rgb(109, 12, 12);
    border-radius: 23% 77% 62% 38% / 35% 32% 68% 65% ;
    box-shadow: 10px 10px 10px black;

}

.fissure{
    position: absolute;
    bottom: -50px;
    left: 22%;
    background-color: rgb(0, 0, 0);
    box-shadow: inset -80px 2px 2px rgba(89, 41, 19, 0.398) ;
    width: 150px;
    height: 150px;
    clip-path: polygon(39% 34%, 46% 43%, 89% 37%, 54% 48%, 68% 53%, 44% 48%, 25% 61%, 35% 51%, 8% 49%, 38% 46%);

}

.tige{
    position: absolute;
    width: 10px;
    transform: rotate(5deg);
    height: 250px;
    background: linear-gradient(45deg,black 1%,rgb(7, 141, 7) 30%, rgb(18, 221, 18) 40%, rgb(12, 75, 12) 90%, rgba(0, 36, 7, 0.727) 100%);
    left: 42%;
    bottom: 6%;
    border-radius: 1rem 0 0 10px;

}

.feuille1 {
    position: absolute;
    bottom: 98%;
    right: 7%;
    width: 100px;
    height: 100px;
    border-radius: 4px 200px 2px 200px;
    background-color: rgb(46, 118, 46);
    border: 1px solid #04f34088;
    box-shadow: inset 10px 10px 30px rgba(243, 26, 26, 0.326), inset -2px 5px 20px rgb(0, 16, 0) ;
    animation: bouge2 20s ease-in infinite both;
    transform-origin: right bottom;


}

.feuille2 {
    position: absolute;
    transform: rotate(90deg);
    bottom: 0;
    top: 1%;
  
    width: 70px;
    height: 70px;
    border-radius: 4px 200px 2px 200px;
    background-color: rgb(16, 155, 16);
    border: 1px solid #39a95588;
    
    box-shadow: inset 10px 10px 30px rgba(255, 0, 0, 0.331), inset -2px 5px 20px rgb(0, 16, 0) ;
    animation: bouge 10s ease-in infinite both;
    transform-origin: left top;

}

 @keyframes bouge {
     0% {
        transform: rotate(100deg);
     } 50% {
        transform: rotate(95deg);

     } 100% {
         transform: rotate(100deg);
     }

}

@keyframes bouge2 {
    0% {
       transform: rotate(110deg);
    } 50% {
       transform: rotate(85deg);

    } 100% {
        transform: rotate(110deg);
    }
}

.contact {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 450px;
    height: 450px;
    border-radius: 2px;
    box-shadow:10px 10px 100px rgba(167, 86, 86, 0.275);
}

.btn-contact {
    position: relative;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transform: translateY(200%);
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px black;
    width: 80%;
    border-radius: 5px;

}

.balaie {
    
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px white;
    width: 2px;
    filter: blur(6px);
    height:80px;
    animation: balayage 3s ease-in infinite;
    
}

.mailText{
   position: absolute;
   left: 40%;
   top: 10%;

}



@keyframes balayage {
    0% {
    margin-left: 0%;
    opacity: 0;
    } 50% {
        margin-left: 100%;
        opacity: .3;
    }
    100% {
        margin-left: 0%;
        opacity: 0;
    }
}


.btn-contact:hover {
    background-color: rgb(255, 110, 110);
    
}

section.tree {
     background-image: linear-gradient( 65.9deg,  rgb(255, 255, 255) 35.5%, rgba(255, 168, 168, 0.74) 54.2%, rgb(255, 0, 4) 0%, rgb(255, 255, 255) 78.4% );
}

.container-tree{
    position: relative;
   margin: 0 auto;
   text-align: center;
}

.arbre{
   width: 70%;
  
}

/* Media queries */
@media screen and (max-width: 1200px){
    .box-title {
        margin: 0 auto;
    }
    #branche {
        width: 700px;
        height: auto;
    }
    .pollen{
        top: 13%;
    }

    #branche2 {
        top: 30%;
    }

    section.wait{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 576px){
    .pollen {
        
    }
    .modal p {
        color: white;
        font-size: 1rem;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%,-5%);
    
    }
    /* Change la taille des travaux sur mobile */
    .full-img {
        position: absolute;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.3);
        transition: all 0.25s ease-out;
    }


    .box-title {
        margin: 0 auto;
        width: 70%;
    }
    #branche {
        width: 400px;
        height: auto;
    }
    .pollen{
        top: 13%;
    }

    .container-presentation {
        padding-top: 50px;
        font-size: 1.2rem;;
    }
    .container-presentation h1{
       padding-bottom: 20px;
    }

    .container-works h1 {
        font-size: 28.8px;
    }

.gallery{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 5%;
 }

 .btn-contact {
    position: relative;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    transform: translateY(100%);
    background-color: rgb(49, 48, 48);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;
    width: 80%;
    border-radius: 5px;

  
    
}


.contact {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ededed;
    font-size: 1.4rem;
    margin-top: 30%;
    width: 300px;
    height: 300px;
    border-radius: 2px;
    box-shadow:10px 10px 100px rgba(0, 0, 0, 0.275);
}




    #branche2 {
        top: 70%;
        width: 80%;
    }

    .arbre{
        width: 100%;
                                                                                                                    
     }



     .base {
        position: absolute;
        bottom: 10%;
        left: 30%;
        width: 200px;
        height: 50px;
        background-color: rgb(109, 12, 12);
        border-radius: 23% 77% 62% 38% / 35% 32% 68% 65% ;
        box-shadow: 10px 10px 10px black;
    
    }
    
    .fissure{
        position: absolute;
        bottom: -30px;
        left: 22%;
        background-color: rgb(0, 0, 0);
        box-shadow: inset -80px 2px 2px rgba(89, 41, 19, 0.398) ;
        width: 100px;
        height: 100px;
        clip-path: polygon(39% 34%, 46% 43%, 89% 37%, 54% 48%, 68% 53%, 44% 48%, 25% 61%, 35% 51%, 8% 49%, 38% 46%);
    
    }
    
    .tige{
        position: absolute;
        width: 5px;
        transform: rotate(5deg);
        height: 170px;
        background: linear-gradient(45deg,black 1%,rgb(7, 141, 7) 30%, rgb(18, 221, 18) 40%, rgb(12, 75, 12) 90%, rgba(0, 36, 7, 0.727) 100%);
        left: 48%;
        bottom: 15%;
        border-radius: 1rem 0 0 10px;
    
    }
    
    .feuille1 {
        position: absolute;
        bottom: 98%;
        right: 7%;
        width: 80px;
        height: 80px;
        border-radius: 4px 200px 2px 200px;
        background-color: rgb(46, 118, 46);
        border: 1px solid #04f34088;
        box-shadow: inset 10px 10px 30px rgba(243, 26, 26, 0.326), inset -2px 5px 20px rgb(0, 16, 0) ;
        animation: bouge2 20s ease-in infinite both;
        transform-origin: right bottom;
    
    
    }
    
    .feuille2 {
        position: absolute;
        transform: rotate(90deg);
        bottom: 0;
        top: 1%;
      
        width: 50px;
        height: 50px;
        border-radius: 4px 200px 2px 200px;
        background-color: rgb(16, 155, 16);
        border: 1px solid #39a95588;
        
        box-shadow: inset 10px 10px 30px rgba(255, 0, 0, 0.331), inset -2px 5px 20px rgb(0, 16, 0) ;
        animation: bouge 10s ease-in infinite both;
        transform-origin: left top;
    
    }

}

